@keyframes logoShrinkAndMove {
    0% {
        top: 50%;        /* Vertikal zentriert */
        left: 50%;       /* Horizontal zentriert */
        transform: translate(-50%, -50%) scale(1);  /* Verschiebung um die Hälfte der eigenen Größe, normale Skalierung */
    }
    100% {
        top: 0;          /* Oben links */
        left: 0;         /* Oben links */
        transform: translate(0, 0) scale(0.5); /* Keine Verschiebung, auf 50% verkleinern */
    }
}

.header-login-sign-up {
    display: flex;
    justify-content: space-between;
}

.joinLogoanimated {
    top: 10%;
    left: 50%;
    position: absolute;
    background-color: transparent;
    width: 120px;
    height: 120px;
    opacity: 1;
    animation: logoShrinkAndMove 2.5s ease forwards;
    z-index: 2;
}